<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <!-- Security Constraints -->
    <security-constraint>
        <display-name>Teacher pages</display-name>
        <web-resource-collection>
            <web-resource-name>teacher</web-resource-name>
            <url-pattern>/teacher/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>teacher</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Student pages</display-name>
        <web-resource-collection>
            <web-resource-name>student</web-resource-name>
            <url-pattern>/student/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>student</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Parent pages</display-name>
        <web-resource-collection>
            <web-resource-name>parent</web-resource-name>
            <url-pattern>/parent/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>parent</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Admin pages</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.xhtml</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <!--        Default works with file realm-->
        <!--<realm-name>file</realm-name>-->
        <!--        DBRealm works-->
        <!--<realm-name>dbRealm</realm-name>-->
        <realm-name>onlineEduRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/login.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>student</description>
        <role-name>student</role-name>
    </security-role>
    <security-role>
        <description>parent</description>
        <role-name>parent</role-name>
    </security-role>
    <security-role>
        <description>teacher</description>
        <role-name>teacher</role-name>
    </security-role>
    <security-role>
        <description>administrators</description>
        <role-name>admin</role-name>
    </security-role>
</web-app>
