* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* Style the header */
header {
    background-color: #333;
    text-align: center;
    max-width: 100%;
    display: flex;
}

a img {
    display: block;
}

.column-narrow {
    flex-basis: 15%;
    background-color: #222127;
}

#login-form p a {
    color: white;
    text-decoration: none;
}

.column-narrow img {
    width: 100%;
}

header ul {
    list-style-type: none;
    flex-basis: 70%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #eeeeee;
}

li {
    flex-grow: 1;
    text-align: center;
}

header li {
    border:1px solid #bbb;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.flex-column {
    display: flex;
    justify-content: center;
    flex-flow: column;
}


/* Left and right column */

.row {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
}

main {
    flex-basis: 70%;
    padding: 1em;
    border-left: 2px solid #333333;
    border-right: 2px solid #333333;
}

aside {
    flex-basis: 15%;
    padding: 1em;
    background-color: #cdfff7;
}

.big {
    min-height: 500px;
}

/* Clear floats after the columns */
/*.row:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

/* Style the footer */
footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}